:root {
  --light-red: #ff7878;
  --light-green: #74d680;
}

.bg-red, .bg-light-red, .bg-light-green, .bg-green {
  color: white
}

.bg-red {
  background-color: var(--bs-red);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-green {
  background-color: var(--bs-green);
}

.text-red {
  color: var(--bs-red);
}

.text-light-red {
  color: var(--light-red);
}

.text-light-green {
  color: var(--light-green);
}

.text-green {
  color: var(--bs-green);
}